<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="/static/vendor/jquery/jquery-3.1.1.min.js"></script>
        <script src="/static/vendor/spectrum/js/spectrum.js"></script>

        <link rel="stylesheet" type="text/css" href="/static/vendor/spectrum/css/spectrum.css" media="screen"></link>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css" media="screen"></link>
    </head>

    <body>
        <input type='text' id="flat" value="{{ last_color }}" />
        <script src="/static/js/app.js"></script>
    </body>
</html>
